## <span style="color:brown">BIG BANG DATA SCIENCE
## <span style="color:brown">Capstone Project - Code #2

## <span style="color:green">Project: AAA Market Segmentation
#### <span style="color:green">Author: Naveed Khan (naveedk786@yahoo.com)
***

![AAA-logo.jpg](AAA-logo.jpg)

<a id="project-overview"></a>
# <span style="color:blue">Project Overview

<div class="alert alert-block alert-info"> 

1.  Provide a market segmentation of AAA members (or member households) that allows AAA Northeast to better serve their members
2.  Develop a series of “look-alike” models to determine the probability of purchasing each product.  Validate your models.
3.  Develop models to predict the likelihood of using roadside service as well as the total cost of roadside usage.

**Importing necessary Libraries**

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.max_columns', 70)
import seaborn as sns
sns.set()  #  Will import Seaborn functionalities
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

**Reading csv Data**

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

In [3]:
aaa = pd.read_csv('aaa_data_Version2.csv')

In [4]:
aaa = aaa.drop('Unnamed: 0', axis = 1)

In [5]:
aaa.head(2)

,member_key,household_key,fsv_cmsi_flag,fsv_credit_card_flag,fsv_deposit_program_flag,fsv_home_equity_flag,fsv_id_theft_flag,fsv_mortgage_flag,ins_client_flag,trv_globalware_flag,number_of_children,mail_responder,home_owner,income,dwelling_type,credit_ranges,do_not_direct_mail_solicit,ers_ent_count_year_1,ers_ent_count_year_2,ers_ent_count_year_3,ers_member_cost_year_1,ers_member_cost_year_2,ers_member_cost_year_3,member_tenure_years,member_type,opt_out___publication,mosaic_household,mosaic_global_household,kcl_b_ind_mosaicsgrouping,new_mover_flag,basic_cost,plus_cost,plus_indicator_description,premier_cost,sc_date,rec_id,total_cost
0,1500014.0,4500791.0,N,Y,N,N,N,N,N,N,One Child,Yes,Home Owner,"30-39,999",Small or large multi-family w/apt number,600-649,0.0,0.0,0.0,2.0,0.0,0.0,65.0,49.0,Primary,Opt-In,Senior Discounts,Low Income Elders,Golden Year Guardians,N,32.5,0.0,Basic Membership,0.0,2017-04-13 00:00:00,9707320.0,32.5
1,1500014.0,4500791.0,N,Y,N,N,N,N,N,N,One Child,Yes,Home Owner,"30-39,999",Small or large multi-family w/apt number,600-649,0.0,0.0,0.0,2.0,0.0,0.0,65.0,49.0,Primary,Opt-In,Senior Discounts,Low Income Elders,Golden Year Guardians,N,30.0,0.0,Basic Membership,0.0,2016-07-26 00:00:00,6361198.0,30.0

In [6]:
aaa.shape

(13166, 37)

In [7]:
#aaa.info()

In [8]:
#aaa.dtypes

In [9]:
print("Total Categorical features: ",len(aaa.dtypes[aaa.dtypes == "object"].index.values))
print("Total Numerical features: ",len(aaa.dtypes[aaa.dtypes != "object"].index.values))

Total Categorical features:  22
Total Numerical features:  15

In [10]:
#aaa.dtypes

## Features transformation

Need to transfer categorical features to numerical. Will start with features that have Yes/No and then with Numbers as string, e.g., 'number_of_children', 'income' and 'credit_ranges'

#### Convert all Categorical values with 'Yes / No' to '0 / 1'

In [11]:
aaa = aaa.replace(['Y', 'Yes'], 1).replace(['N', 'No'], 0)
aaa.head(2)

,member_key,household_key,fsv_cmsi_flag,fsv_credit_card_flag,fsv_deposit_program_flag,fsv_home_equity_flag,fsv_id_theft_flag,fsv_mortgage_flag,ins_client_flag,trv_globalware_flag,number_of_children,mail_responder,home_owner,income,dwelling_type,credit_ranges,do_not_direct_mail_solicit,ers_ent_count_year_1,ers_ent_count_year_2,ers_ent_count_year_3,ers_member_cost_year_1,ers_member_cost_year_2,ers_member_cost_year_3,member_tenure_years,member_type,opt_out___publication,mosaic_household,mosaic_global_household,kcl_b_ind_mosaicsgrouping,new_mover_flag,basic_cost,plus_cost,plus_indicator_description,premier_cost,sc_date,rec_id,total_cost
0,1500014.0,4500791.0,0,1,0,0,0,0,0,0,One Child,1.0,Home Owner,"30-39,999",Small or large multi-family w/apt number,600-649,0.0,0.0,0.0,2.0,0.0,0.0,65.0,49.0,Primary,Opt-In,Senior Discounts,Low Income Elders,Golden Year Guardians,0,32.5,0.0,Basic Membership,0.0,2017-04-13 00:00:00,9707320.0,32.5
1,1500014.0,4500791.0,0,1,0,0,0,0,0,0,One Child,1.0,Home Owner,"30-39,999",Small or large multi-family w/apt number,600-649,0.0,0.0,0.0,2.0,0.0,0.0,65.0,49.0,Primary,Opt-In,Senior Discounts,Low Income Elders,Golden Year Guardians,0,30.0,0.0,Basic Membership,0.0,2016-07-26 00:00:00,6361198.0,30.0

Lets see re-look at how many Categorical features converted to Numericl features

In [12]:
print("Total Categorical features: ",len(aaa.dtypes[aaa.dtypes == "object"].index.values))
print("Total Numerical features: ",len(aaa.dtypes[aaa.dtypes != "object"].index.values))

Total Categorical features:  12
Total Numerical features:  25

In [13]:
aaa.shape

(13166, 37)

In [14]:
aaa_cat_df = aaa.select_dtypes(include=['object']).copy()
aaa_cat_df.head(2)

,number_of_children,home_owner,income,dwelling_type,credit_ranges,member_type,opt_out___publication,mosaic_household,mosaic_global_household,kcl_b_ind_mosaicsgrouping,plus_indicator_description,sc_date
0,One Child,Home Owner,"30-39,999",Small or large multi-family w/apt number,600-649,Primary,Opt-In,Senior Discounts,Low Income Elders,Golden Year Guardians,Basic Membership,2017-04-13 00:00:00
1,One Child,Home Owner,"30-39,999",Small or large multi-family w/apt number,600-649,Primary,Opt-In,Senior Discounts,Low Income Elders,Golden Year Guardians,Basic Membership,2016-07-26 00:00:00

In [15]:
aaa_cat_df.shape

(13166, 12)

In [16]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
aaa_num_df = aaa.select_dtypes(include=numerics).copy()
aaa_num_df.head(2)

,member_key,household_key,fsv_cmsi_flag,fsv_credit_card_flag,fsv_deposit_program_flag,fsv_home_equity_flag,fsv_id_theft_flag,fsv_mortgage_flag,ins_client_flag,trv_globalware_flag,mail_responder,do_not_direct_mail_solicit,ers_ent_count_year_1,ers_ent_count_year_2,ers_ent_count_year_3,ers_member_cost_year_1,ers_member_cost_year_2,ers_member_cost_year_3,member_tenure_years,new_mover_flag,basic_cost,plus_cost,premier_cost,rec_id,total_cost
0,1500014.0,4500791.0,0,1,0,0,0,0,0,0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,65.0,49.0,0,32.5,0.0,0.0,9707320.0,32.5
1,1500014.0,4500791.0,0,1,0,0,0,0,0,0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,65.0,49.0,0,30.0,0.0,0.0,6361198.0,30.0

In [17]:
aaa_num_df.shape

(13166, 25)

#### Convert Categorical values that are numerical string into numerical values

In [18]:
income_range = {'Under 10K': 5000,'10-19,999': 15000,'20-29,999': 25000,
               '30-39,999': 35000,'40-49,999': 45000,'50-59,999': 55000,
                '60-69,999': 65000,'70-79,999': 75000,'80-89,999': 85000,
                '90-99,999': 95000,'100-149,999': 125000,
                '150 - 174,999': 162500,'175 - 199,999': 187500,
                '200 - 249,999': 225000,'250K+': 250000}

In [19]:
child_number = {'No children': 0,
                'One Child': 1,
                'Two Children': 2,
                'Three Children': 3,
                'Four Children': 4,
                'Five Children': 5,
                'Six Children': 6}

In [20]:
credit_rating = {'499 & Less': 250,
                 '500-549': 525,
                 '550-599': 575,
                 '600-649': 625,
                 '650-699': 675,
                 '700-749': 725,
                 '750-799': 775,
                 '800+': 800,
                 'Unknown': np.nan}

In [21]:
# Replace string with numbers as defined using dictionary above
aaa_cat_df = aaa_cat_df.replace(child_number)
aaa_cat_df = aaa_cat_df.replace(income_range)
aaa_cat_df = aaa_cat_df.replace(credit_rating)
aaa_cat_df.head(2)

,number_of_children,home_owner,income,dwelling_type,credit_ranges,member_type,opt_out___publication,mosaic_household,mosaic_global_household,kcl_b_ind_mosaicsgrouping,plus_indicator_description,sc_date
0,1.0,Home Owner,35000.0,Small or large multi-family w/apt number,625.0,Primary,Opt-In,Senior Discounts,Low Income Elders,Golden Year Guardians,Basic Membership,2017-04-13 00:00:00
1,1.0,Home Owner,35000.0,Small or large multi-family w/apt number,625.0,Primary,Opt-In,Senior Discounts,Low Income Elders,Golden Year Guardians,Basic Membership,2016-07-26 00:00:00

In [22]:
aaa_cat_df.shape

(13166, 12)

In [23]:
aaa_cat_df.shape,aaa_num_df.shape

((13166, 12), (13166, 25))

Replacing Categorical features with numerical strings with numerical values

In [24]:
aaa['number_of_children'] = aaa_cat_df['number_of_children']
aaa['credit_ranges']      = aaa_cat_df['credit_ranges']
aaa['income']             = aaa_cat_df['income']

In [25]:
aaa.head(2)

,member_key,household_key,fsv_cmsi_flag,fsv_credit_card_flag,fsv_deposit_program_flag,fsv_home_equity_flag,fsv_id_theft_flag,fsv_mortgage_flag,ins_client_flag,trv_globalware_flag,number_of_children,mail_responder,home_owner,income,dwelling_type,credit_ranges,do_not_direct_mail_solicit,ers_ent_count_year_1,ers_ent_count_year_2,ers_ent_count_year_3,ers_member_cost_year_1,ers_member_cost_year_2,ers_member_cost_year_3,member_tenure_years,member_type,opt_out___publication,mosaic_household,mosaic_global_household,kcl_b_ind_mosaicsgrouping,new_mover_flag,basic_cost,plus_cost,plus_indicator_description,premier_cost,sc_date,rec_id,total_cost
0,1500014.0,4500791.0,0,1,0,0,0,0,0,0,1.0,1.0,Home Owner,35000.0,Small or large multi-family w/apt number,625.0,0.0,0.0,0.0,2.0,0.0,0.0,65.0,49.0,Primary,Opt-In,Senior Discounts,Low Income Elders,Golden Year Guardians,0,32.5,0.0,Basic Membership,0.0,2017-04-13 00:00:00,9707320.0,32.5
1,1500014.0,4500791.0,0,1,0,0,0,0,0,0,1.0,1.0,Home Owner,35000.0,Small or large multi-family w/apt number,625.0,0.0,0.0,0.0,2.0,0.0,0.0,65.0,49.0,Primary,Opt-In,Senior Discounts,Low Income Elders,Golden Year Guardians,0,30.0,0.0,Basic Membership,0.0,2016-07-26 00:00:00,6361198.0,30.0

In [26]:
aaa.shape

(13166, 37)

<a id="I"></a>

## <span style="color:blue"> Data Cleaning: Impute missing values

In [27]:
aaa_num_columns = aaa.select_dtypes(include=numerics).copy()

In [28]:
aaa_num_columns.head(2)

,member_key,household_key,fsv_cmsi_flag,fsv_credit_card_flag,fsv_deposit_program_flag,fsv_home_equity_flag,fsv_id_theft_flag,fsv_mortgage_flag,ins_client_flag,trv_globalware_flag,number_of_children,mail_responder,income,credit_ranges,do_not_direct_mail_solicit,ers_ent_count_year_1,ers_ent_count_year_2,ers_ent_count_year_3,ers_member_cost_year_1,ers_member_cost_year_2,ers_member_cost_year_3,member_tenure_years,new_mover_flag,basic_cost,plus_cost,premier_cost,rec_id,total_cost
0,1500014.0,4500791.0,0,1,0,0,0,0,0,0,1.0,1.0,35000.0,625.0,0.0,0.0,0.0,2.0,0.0,0.0,65.0,49.0,0,32.5,0.0,0.0,9707320.0,32.5
1,1500014.0,4500791.0,0,1,0,0,0,0,0,0,1.0,1.0,35000.0,625.0,0.0,0.0,0.0,2.0,0.0,0.0,65.0,49.0,0,30.0,0.0,0.0,6361198.0,30.0

**Define a function to identify columns with missing values**

In [29]:
def missing_zero_values_table(df):
        zero_val = (aaa == 0.00).astype(int).sum(axis=0)
        mis_val = aaa.isnull().sum()
        mis_val_percent = mis_val * 100 / len(aaa)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total_Zero_Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total_Zero_Missing Values'] = 100 * mz_table['Total_Zero_Missing Values'] / len(aaa)
        mz_table['Data Type'] = aaa.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(aaa.shape[1]) + " columns and " + str(aaa.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")

        return mz_table

missing_zero_values_table(aaa_num_columns)

Your selected dataframe has 37 columns and 13166 Rows.
There are 16 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total_Zero_Missing Values,% Total_Zero_Missing Values,Data Type
credit_ranges,0,3854,29.3,3854,29.3,float64
home_owner,0,3786,28.8,3786,28.8,object
income,0,3597,27.3,3597,27.3,float64
number_of_children,4336,3555,27.0,7891,59.9,float64
mail_responder,384,3555,27.0,3939,29.9,float64
mosaic_household,0,3003,22.8,3003,22.8,object
mosaic_global_household,0,3003,22.8,3003,22.8,object
kcl_b_ind_mosaicsgrouping,0,3003,22.8,3003,22.8,object
dwelling_type,0,2993,22.7,2993,22.7,object
premier_cost,11100,2063,15.7,13163,100.0,float64
basic_cost,451,2035,15.5,2486,18.9,float64
plus_cost,10096,2035,15.5,12131,92.1,float64
total_cost,450,2035,15.5,2485,18.9,float64
plus_indicator_description,0,1988,15.1,1988,15.1,object
sc_date,0,1988,15.1,1988,15.1,object
rec_id,0,1988,15.1,1988,15.1,float64

#### Lets replace missing numerical feature values with median

If we do not get better accuracy with imputing missing values with "median", we may need to impute values with 'mean' or 'mode'

In [31]:
aaa = aaa.fillna(aaa.median())

In [32]:
print(aaa.isnull().sum())

member_key                    0
household_key                 0
fsv_cmsi_flag                 0
fsv_credit_card_flag          0
fsv_deposit_program_flag      0
fsv_home_equity_flag          0
fsv_id_theft_flag             0
fsv_mortgage_flag             0
ins_client_flag               0
trv_globalware_flag           0
number_of_children            0
mail_responder                0
home_owner                    3786
income                        0
dwelling_type                 2993
credit_ranges                 0
do_not_direct_mail_solicit    0
ers_ent_count_year_1          0
ers_ent_count_year_2          0
ers_ent_count_year_3          0
ers_member_cost_year_1        0
ers_member_cost_year_2        0
ers_member_cost_year_3        0
member_tenure_years           0
member_type                   0
opt_out___publication         0
mosaic_household              3003
mosaic_global_household       3003
kcl_b_ind_mosaicsgrouping     3003
new_mover_flag                0
basic_cost                    0
plus_cost                     0
plus_indicator_description    1988
premier_cost                  0
sc_date                       1988
rec_id                        0
total_cost                    0
dtype: int64

### Imputing missing values for Categorical features with "Not Set"

In [36]:
aaa = aaa.replace(np.nan, 'Not Set')

In [ ]:
#aaa_cat_columns = aaa_cat_columns.replace(np.nan, 'Not Set')

------------

### Data Visualization

<a id="IV"></a>
### Visual Data Analysis in with SweetViz

In [37]:
# Import Libraries
print('Importing Libraries ... ',end='')
import sweetviz as sv
import pandas as pd
print('Done')

Importing Libraries ... Done

In [40]:
# Analyzing data
report=sv.analyze(aaa)

# Generating report
report.show_html('eda_report_cleandata.html')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=38.0), HTML(value='')), l…

Report eda_report_cleandata.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

**Save the Clean Data File - Version2**

In [41]:
aaa.to_csv('aaa_clean_data_V3.csv')